.meta-content {
  display: none;
}
slfy-store .meta-content:not(:empty) {
  display: none;
}
html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  --webkit-overflow-scrolling: touch;
}
body {
  position: relative;
}
